.style1{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 40px;
}

.logo1{
    height: 30px;
    width: 30px;
    margin-left: 50%;
}
.imageholder{
    padding: 30px;
    display: inline-flex;
    position: relative;
}

.testimonial1{
    background-color: #eaf2da;
}
.serviceimg{
    margin-left: 150px;
}